.song-guess-modal-background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--bg-color), 1);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.song-guess-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
}

.song-guess-modal-content button {
  margin-top: 1rem;
  width: 10rem;
}

.guess-input-wrapper {
  position: relative;
}

.interactive-blanks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.word-group {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.1rem;
}

.interactive-blank {
  width: calc(3vw + 1rem);
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ccc;
  font-size: calc(4vw + 0.5rem);
}

.interactive-blank:focus {
  outline: none;
  caret-color: transparent;
  background-color: rgba(var(--answer-blue), 0.4);
  box-shadow: 0 0 5px rgba(var(--answer-blue), 0.8);
}

.interactive-blank::placeholder {
  color: rgba(255, 255, 255, 0.2);
}

.space,
.punctuation {
  width: 1.5rem;
  text-align: center;
  background-color: transparent;
  border: none;
}

.active-input {
  background-color: rgba(var(--answer-blue), 0.4);
}

.guess-button.invalid {
  animation: shake 0.3s;
}

.input-tooltip {
  position: absolute;
  top: -2.5rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--incorrect);
  color: #fff;
  padding: .25rem .25rem;
  border-radius: .2rem;
  font-size: 0.8rem;
  white-space: nowrap;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.input-tooltip.show {
  opacity: 1;
  visibility: visible;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-4px);
  }

  50% {
    transform: translateX(4px);
  }

  75% {
    transform: translateX(-2px);
  }
}

@media(min-width: 1000px) {
  .interactive-blank {
    width: 2.8rem;
    font-size: 3rem;
  }

  .space,
  .punctuation {
    width: 1.5rem;
  }
}