.instructions-modal-background {
  width: 100vw;
  height: 100vh;
  background-color: var(--back-modal-bg);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions-modal-container {
  min-width: 50%;
  max-width: 95%;
  height: auto;
  max-height: 70%;
  border-radius: 0.5rem;
  background-color: var(--modal-bg);
  box-shadow: rgba(0, 0, 0, 0.7) 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.instructions-modal-container .title {
  display: inline-block;
  text-align: center;
  margin-top: 1rem;
}

.instructions-modal-container .body {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  text-align: left;
  max-width: 90%;
  margin: auto;
  overflow-wrap: break-word;
  line-height: 1.5;
}

.instructions-modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 1rem;
}

.instructions-modal-header button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

.instructions-modal-header h1 {
  flex-grow: 1;
  text-align: center;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  margin: 0;
}

.instructions-modal-container li {
  margin-bottom: 0.5rem;
}