/* Base modal styles. Used for StatisticsModal, InstructionsModal, and GameOverModal. */
/* Album art related CSS used in HintPanel and GameOverModal */

.modal-background {
  width: 100vw;
  height: 100vh;
  background-color: var(--back-modal-bg);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  min-width: 50%;
  max-width: 95%;
  border-radius: 0.5rem;
  background-color: var(--modal-bg);
  box-shadow: rgba(0, 0, 0, 0.7) 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.modal-container .title {
  display: inline-block;
  text-align: center;
  margin-top: 1rem;
}

.modal-container .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modal-container .footer {
  flex: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 1rem;
}

.modal-header button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

.stats {
  display: flex;
  justify-content: center;
}

.stats ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.stats li {
  width: 25%;
  margin: 1rem;
}

.statNum {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.statName {
  text-align: center;
  font-size: 1rem;
}

/* Keep tables and divs from showing focus visibly  */
table,
div:focus-visible {
  outline: none;
}

.album-cover {
  width: 50%;
  max-width: 15rem;
  height: auto;
  border-radius: 5%;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1002;
  cursor: pointer;
  animation: fadeInScale 0.3s ease-out;
}

.enlarged-album-art {
  max-width: 80%;
  max-height: 80%;
  border-radius: 1%;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}