/* Base styles in ../Modal.css */

.gameover.modal-container {
  max-height: 70%;
  padding: 0.5rem;
}

.gameover.modal-container .title {
  display: inline-block;
  text-align: center;
  font-size: clamp(1.4rem, 2vw, 2.5rem);
  margin-bottom: 0;
}

.gameover.modal-container .body {
  font-size: clamp(1rem, 1.5vw, 1.2rem);
}

hr {
  width: 60%;
  margin: 1% auto;
}

.label {
  font-weight: bold;
}

.album-cover {
  margin-top: 0.5rem;
}

.statNum {
  font-size: clamp(1.5rem, 2vw, 2.5rem);
}

.statName {
  font-size: clamp(1rem, 1.5vw, 1.2rem);
}