/* Album art related CSS in Modal.css */

.hints-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.hints-table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 0.5rem;
}

.hints-table th,
.hints-table td {
  padding: 0.2rem;
  width: 33.33%;
  border: 2px solid gray;
  text-align: center;
  font-size: calc(0.7em + 0.2vw);
}

.hints-table button {
  background: rgb(var(--answer-blue));
  color: white;
  border: none;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
}

.hints-table button:hover {
  background: var(--modal-bg);
}