.game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.game-container:focus {
  outline: none;
}

.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  max-width: 8rem;
}

.body {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.blanks {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: calc(5vw + 0.5rem);
  letter-spacing: 0.5rem;
  margin: 1rem 0;
}

.blanks span.revealed {
  color: rgb(var(--answer-blue));
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.punctuation {
  color: var(--correct-letter-color);
}

@media (min-width: 1000px) {
  .game-container .blanks {
    font-size: 3.6rem;
  }
}